---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Home layout sidebar to the right */
.layout--home #main {
  @media (min-width: 64em) {
    display: flex;
    flex-direction: row-reverse;
    
    .sidebar {
      width: calc(25% - 1em);
      margin-right: 0;
      margin-left: 1em;
      padding-right: 0;
    }

    .archive {
      width: calc(75% - 1em);
      margin-right: 1em;
    }
  }
}
